html
{
    --brand-green: hsl(162, 87%, 21%);
    --dark-green: hsl(162, 88%, 30%);
    --medium-green: hsl(162, 73%, 46%);
    --text-color: hsl(210, 11%, 15%);
    --gray: hsl(210, 7%, 56%);
    --light-gray: hsl(210, 17%, 95%);
    --extra-light-gray: hsl(210, 17%, 98%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(342, 63%, 46%); 

    box-sizing: border-box;
    color: var(--text-color);
    font-size: calc(0.5em + .5vw);
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--extra-light-gray);
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.fonts-failed body {
    font-family: Helvetica, Arial, sans-serif; 
   }

h1, h2, h3, h4
{
    font-family: Georgia, serif;
    letter-spacing: -0.02em;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4 {
 font-family: Georgia, serif; 
}

a
{
    color: var(--medium-green);
}

a:visited
{
    color: var(--brand-green);
}

a:hover
{
    color: var(--brand-green);
}

a:active
{
    color: var(--red);
}